body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 8px 100px 0px 160px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.header-links li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.container-1 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    background-color: #1F2937;
    padding: 90px 100px 90px 160px;
}

.ctn1-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -5px;
}

.ctn1-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.container-2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
}

.container-2 h1 {
    margin-bottom: 32px;
}

.container-2 .cards {
    display: flex;
    gap: 52px;
    justify-content: center;
}

.card {
    max-height: 400px;
    max-width: 400px;
}

.card img {
    width: 180px;
    height: 180px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}